header {
    position: relative;
}

body {
    background-image: url(./Imagens/background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

h1 {
    border: 1px solid;
    text-align: center;
    margin-top: left;
}

li {
    padding: 5px 5px 5px 5px;
}

.conta {
    border-image: url(./Imagens/2x/baseline_fingerprint_black_18dp.png);
}

.logo {
    position: relative;
    top: 2px;
    left: -330px;
}

.sacola {
    background-image: url(./Imagens/2x/baseline_shopping_bag_black_18dp.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 20px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.menu {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.menu ul li {
    display: inline;
}


/*busca*/

.busca,
.menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.busca input[type=search] {
    width: 170px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}


/*fim busca*/

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos ul {
    background-color: #DCDCDC;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
}

.destaque {
    margin-top: 10px;
}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
}


/*paineis novidades e mais vendidos*/

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades {
    float: left;
}

.mais-vendidos {
    float: right;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}


/*Redução do tanho das imagens*/

.painel img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #F5DCDC;
}

.mais-vendidos {
    background-color: #DCDCF5
}